/*
* 1 Base
* 2 Header
*
/

/******************************************************
* BASE
******************************************************/
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.h1,
h1 {
    font-size: 34px;
    margin-bottom: 20px;
}

.h2,
h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.h3,
h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

a {
    text-decoration: none !important;
}

/* Icons */
.fa-angle-down {
    padding-left: 5px;
}

#stars .gold {
    color: gold;
}


/******************************************************
* HEADER
******************************************************/
.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0px;
}

.header .navbar li a {
    color: #fff;
    font-size: 15px;
}

.header .navbar li a:hover {
    color: #8bcff4;
}

.header .navbar img {
    height: 35px;
    width: 150px;
    margin-left: 6rem;
    margin-right: 3rem;
}

.header .navbar .ml-auto {
    margin-right: 8rem;
}

.header .navbar .ml-auto a {
    padding: 8px;
}

.justify-content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/******************************************************
* WELCOME
******************************************************/
/* Carousel */
.carousel-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.wapper-carousel-info {
    position: absolute;
    width: 100%;
    top: 30%;
}

.wapper-carousel-info h1 {
    font-size: 30px;
    line-height: 45px;
    padding-bottom: 2rem;
    color: #fff;
}

.wapper-carousel-info button {
    font-size: 14px;
    padding: 10px;

}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

/******************************************************
* MAIN
******************************************************/
.main {
    padding: 50px 0px;
}

.main .col-md-4 {
    border-left: 2px solid #0086EF;
}

.main .col-md-4:nth-child(1) {
    border-left: none;
}

.bg-grey {
    background: #DBDBDB;
}

.wapper-about-us.bg-grey {
    padding: 15px;
}

.inner-item {
    margin-bottom: 20px;
}

.img-box {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    width: 100%;
    text-align: center;
    height: 110px;
}

.img-box img {
    max-height: 100%;
    width: auto;
    margin: 0 auto;
}

.item-inner-info {
    display: table;
    font-size: 13px;
}

.item-inner-info p {
    margin-bottom: 6px;
}

.col-sm .inner-item img {
    float: left;
}

.col-sm .inner-item span {
    float: left;
    margin-left: 1rem;
    font-size: 13px;
}

.col-sm .inner-item p {
    padding-left: 10rem;
    font-size: 15px;
    margin-bottom: 5px;
}

/* Main For Us Page */
.main-forus {
    height: 100%;
    text-align: center;
    padding: 2rem 0 4rem 0;
}

#welcome-forus {
    width: 100%;
    height: 250px;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
}

#welcome-forus::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 250px;
    background-image: url("/img/image-2.jpg");
}

#welcome-forus .wapper-info h1 {
    text-align: center;
    font-size: 34px;
    margin: 1rem;
    color: #fff;
}

.wapper-info {
    position: absolute;
    width: 100%;
    top: 45%;
}

.wapper-info h2 {
    font-size: 30px;
    line-height: 45px;
    padding-bottom: 2rem;
    color: #fff;
}

.wapper-info button {
    font-size: 14px;
    padding: 10px;

}

.showcase-forus {
    padding-bottom: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1.1)),
        url("/img/background_showcase.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.showcase-forus .wrapper .container {
    text-align: center;
    color: #fff;
    text-shadow: 4px 4px 2px rgba(255, 255, 255, 0);
}

.showcase-forus .wrapper .container h2 {
    font-weight: bold;
    padding-top: 2rem;
    margin-bottom: 1rem;
}

.showcase-forus .wrapper .container h2::after {
    content: "";
    display: block;
    margin: 10px auto;
    width: 30%;
    border-bottom: 5px solid #0086EF;
}

.showcase-forus .wrapper .container i {
    font-size: 2rem;
    margin-bottom: 10px;
}

.showcase-forus .wrapper .container p {
    text-align: left;
    margin-bottom: 15px;
}

.showcase-forus .wrapper .container ul li {
    font-size: 13px;
    text-align: left;
    padding-left: 5px;
}

/* Product Page */
.showcase-product {
    padding: 5rem 5rem 0 5rem;
}

.showcase-product .product-info h2 {
    margin-top: 1rem;
}

.showcase-product .product-info .list-unstyled li:first-child {
    padding-bottom: 1rem;
}

.info li:nth-child(2) {
    padding-bottom: 10px;
}

.showcase-product .product-image {
    padding-bottom: 5px;
}

.product-info h2 i:first-child {
    padding-left: 2rem;
}

.showcase-product .product-image a {
    color: #111111;
}

.showcase-product .product-gallery a img {
    width: 240px;
    height: 200px;
}

.showcase-product .product-info #info {
    padding-top: 20px;
}

.showcase-product .product-gallery img:nth-child(1) {
    margin-right: 1rem;
}

.nav-tabs-product li {
    margin-right: 2px;
}

.nav-tabs-product li a:hover {
    color: #111111;
}

.nav-tabs-product li {
    float: left;
    background: #2067a2;
}

.nav-tabs-product li a {
    color: #fff;
}

.nav-tabs .nav-link.active {
    color: #000000;
    background-color: #8bcff4;
}

.product-info h3 {
    margin-top: 2rem;
}

/* Related Projects */
#other-projects {
    text-align: center;
    padding: 2rem;
}

.related-projects {
    margin-bottom: 4rem;
}

.project-name {
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    margin-bottom: 8px;
}

.related-projects .btn {
    padding: 6px;
    border-radius: 0;
}

.col-item .info {
    padding: 10px;
    margin-top: 1px;
}

.col-item .project-details {
    width: 100%;
    margin-top: 5px;
}

.col-item .project-details .details {
    margin-bottom: 0px;
    font-size: 12px;
}

/* Our Services Page */

#what-we-do {
    padding: 4rem
}

.mb-2,
.container-fluid p {
    text-align: center;
    padding: 1rem;
}

.mb-2 {
    padding: 2rem;
}

.card {
    padding: 1rem !important;
    border: none;
    margin-bottom: 1rem;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#what-we-do .card .card-block a {
    color: #0086EF !important;
    font-weight: 700;
    text-decoration: none;
}

#what-we-do .card-block {
    box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
}

.card h3 {
    margin-bottom: 15px;
}

.container-fluid h2::after {
    content: "";
    display: block;
    margin: 15px auto;
    width: 30%;
    border-bottom: 5px solid #0086EF;
}

.mt-5 {
    margin-top: 1rem !important;
}

.card a {
    margin-top: 10px;
}

.card p {
    padding: 0;
}

.card-block h3,
.card-block p,
.card-block {
    text-align: left;
}

#what-we-do {
    background-image: linear-gradient(#eee 0%, transparent 90%);
}

/* Projects Page */
#projects {
    background-image: linear-gradient(#eee 0%, transparent 90%);
    padding: 5rem 0 5rem 0;
}

#projects .row {
    padding-bottom: 2rem;
}

#projects .row h3 {
    text-transform: uppercase;
    text-shadow: 3px 3px 2px rgba(149, 150, 149, 1);
    margin: 0 auto;
}

.service-wapper {
    box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
}

.pr-img-box img {
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    filter: brightness(50%);
}

.navigation {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
}

.info-product-card {
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 0;
    padding: 20px;
    width: 100%;
    background-image: linear-gradient(transparent 10%, #0086EF 100%);
    color: #fff;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    padding: -5px;
    width: 350px;
}

/* Gallery-ForUs*/
.gallery-forus .col-md-12:nth-child(1) {
    margin-top: 1rem;
}

.gallery-forus .col-md-12:nth-child(1)::after {
    content: "";
    display: block;
    margin: 15px auto;
    width: 30%;
    border-bottom: 5px solid #0086EF;
}

.gallery-forus .container {
    margin: 10px 50px;
    text-align: center;
}

.gallery-forus img {
    transition: 1s;
    padding: 15px;
    width: 200px;
}

.gallery-forus img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

/* Main Contact Page */
#main-contact {
    min-height: calc(100vh - 100px);
    height: 100vh;
    padding: 100px;
}

.contact h1 {
    color: #000000;
}

.contact ul li {
    margin: 1rem;
}

.contact ul li a {
    color: #111111;
    text-decoration: none;
}

.status {
    background-color: #8bcff4;
    border-color: #2067a2;
    border-radius: 0px;
}

/******************************************************
* FOOTER
******************************************************/
.footer {
    padding-top: 30px;
    background: #181818;
}

.footer .col-sm-12 {
    color: #fff;
}

.footer .col-sm-12 ul {
    list-style: none;
}

.footer .col-sm-12 ul li {
    margin-bottom: 20px;
}

.footer .col-sm-12 ul li a {
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

.footer .col-sm-12 h4 {
    margin-bottom: 30px;
}

#map {
    width: 100%;
    height: 200px;
    background-color: grey;
}

.last {
    text-align: center;
    padding: 15px;
    background: #0086EF;
    color: #fff;
    margin-top: 30px;
}

/******************************************************
* OVERRIDES
******************************************************/
.img-responsive {
    max-width: 100%;
    height: auto;
}

.header-contact {
    background: linear-gradient(#000000, #434343);
}

.pull-left {
    float: left;
    margin-right: 10px;
}

.last p {
    margin: 0 auto;
    padding: 0;
}

p {
    margin-bottom: 0;
}

.btn {
    border-radius: 0px;
    outline: none !important;
}

.btn-success {
    color: #fff;
    background-color: #2067a2;
    border-color: #8bcff4;
}

#product-h1 {
    margin: 0 !important;
}

/******************************************************
*MOBILE
******************************************************/